<footer>
    <h6>Created by {{name}}</h6>
</footer>
<script>
    for (var i = 0; i < document.links.length; i++) {
        if (document.links[i].href == document.URL) {
            document.links[i].className = 'active';
        }
    }
</script>