<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" href="css/style.css">
    <title>Weather</title>
</head>

<body>
    {{>header}}
    <section>
        <main>
            <div>
                <h2>{{title}}</h2>
                <p>Here you can find the weather of any Location</p>
                <form action="">
                    <ul>
                        <li> <input type="text" placeholder="ex.Location,zip-code"> </li>
                        <li> <button>Search</button> </li>
                    </ul>
                </form>
                <div class="weather">
                    <div id="m1"></div>
                    <div id="m1"></div>
                </div>
            </div>
        </main>
    </section>
    {{>footer}}
    <script src="js/app.js"></script>
</body>

</html>